.container {
    /* box-sizing: content-box */
    border: 2px solid red;
    text-align: center;
    margin-left: 200px;
    margin-right: 215px;
    padding-bottom: 50px;
    /* margin-top: 60px; */
}



.row-1,
.row-2,
.row-3,
.row-4 {
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
}


button {
    font-size: 20px;
    width: 50px
}


input {
    height: 45px;
    width: 98.5%;
    text-align: right;

}

.screen {
    margin-top: 10px;
}


.row-5 {
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
}

.zero-btn {

    text-align: left;
    width: 32.6%;
}