.container {
    /* box-sizing: border-box; */
    border: 2px solid red;
    text-align: center;
    margin-left: 200px;
    margin-right: 215px;
    padding-top: 20px;

}



.row-1 {
    display: flex;
    justify-content: space-around;
    border: 2px solid blue;
}

.row-2 {
    display: flex;
    justify-content: space-around;
    border: 2px solid green;
}

button {
    font-size: 20px;
    width: 50px
}


input {
    height: 25px;
    width: 98.5%;
    text-align: right;
}